.Header{
    height:4rem;
    background-color:white !important;
}

.Header img{
    height:2.5rem;
    margin-left:1rem;
}
.profileButton{
  
    margin-top:12px;
    height:2.2rem;
    margin-right:2rem;
}


.logoutButton{
    color:white !important;
    background-color:#212121 !important;
    /* height:2.5rem; */
    margin-top:12px;
    height:2.2rem;
}
/* .buttonContainer{
    display:flex;
    justify-content:flex-end;
    margin-right:2rem;
height:80%;
align-items:center;
} */
.dropDown{
    width:10rem;

}

.headerFilter{
    left:8%;
    margin-top:8px;
    position: absolute !important;

}